.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 15px;
  z-index: 1000;
  background-color: #9d9d9d;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  background-color: var(--color-gray-500);
  color: var(--color-gray-900);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.list a:hover,
.list a:active,
.list a.active {
  background-color: var(--color-primary-600);
}
