.navbar {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  width: 100%;
}

.toggleMenu {
  display: block;
  padding: 0px 20px 0px 20px;
}

.menuItems {
  display: none;
  border-top: 1px solid #7d7d7d;
}

.menuItems.open {
  display: block;
}

.menuItems ul li {
  display: block;
  padding: 5px;
  color: brown;
  font-size: x-large;
  /*  background-color: aquamarine; */
}

.NavLink {
  color: brown;
  display: table-cell;
  width: 400px;
  padding: 5px;
  font-size: x-large;
}
