.navbar {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  width: 100%;
}

.toggleMenu {
  display: block;
  padding: 0px 20px 0px 20px;
}

.menuItems {
  display: none;
  border-top: 1px solid #eee;
}

.menuItems.open {
  display: block;
}

.menuItems ul li {
  display: block;
  padding: 5px;
  color: black;
  font-size: x-large;
  background-color: aquamarine;
}

.NavLink {
  /* display: block;
  width: 100%;
  padding: 5px; */

  display: table-cell;
  /* flex-direction: row; */
  width: 400px;
  /* align-items: center; */
  padding: 5px;
  font-size: x-large;
  /* text-align: center; */
  background-color: aquamarine;
}

/* Menu Styles */
/* .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
 */
