.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.toggleMenu {
  display: block;
  padding: 0px 20px 0px 20px;
}

.menuItems {
  display: none;
  border-top: 1px solid #eee;
}

.menuItems.open {
  display: block;
}

.menuItems ul li {
  display: block;
  width: 100%;
}

.NavLink {
  display: block;
  width: 100%;
  padding: 5px;
}

/* Menu Styles */
/* .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
 */
