.container {
  display: flex;
  width: 430px;
  height: 70px;
  background-color: rgba(93, 86, 80, 1);
  color: #fff;
}

.innerContainer {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.innerContainer img {
  margin: 0px 8px 0px 8px;
}

.innerContainer p {
  margin: 0px 15px 0px 15px;
}
