.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* background-color: aquamarine; */
}
.container form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container form label {
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.container form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.passwordInputContainer {
  display: flex;
  align-items: baseline;
}

.lockButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  /* background-color: aqua; */
}
